<footer class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="b-logo"><a href="/" title="Taizo"><img src="assets/images/b-logo.svg" alt="Taizo"></a></div>
                    <div class="copy-right">
                        <p>Taizo Technologies Private Limited.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="terms-privacy"><a href="/" title="Terms and Service">Terms and Service </a><a href="/"
                            title="Privacy Policy">Privacy Policy</a></div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="social">
                        <ul class="social-links">
                            <li><a href="#" class="instagram"></a></li>
                            <li><a href="#" class="facebook"></a></li>
                            <li><a href="#" class="youtube"></a></li>
                            <li><a href="#" class="linkedin"></a></li>
                            <li><a href="#" class="twitter"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="copy-right second">
                        <p>&copy; Copyright 2019. All rights reserved. </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
