<header class="green-header">
      <div class="container">
          <div class="header-inner">
              <div class="logo">
                  <a routerLink="/">
                      <img src="assets/images/logo-white.svg" alt="Logo">
                  </a>
              </div>
              <nav id='cssmenu'>
                  <div class="button"></div>
                  <ul>
                      <li><a routerLink="/">Home</a></li>
                      <li><a href='#'>Pricing</a></li>
                      <li><a href='#'>Contact Sales</a></li>
                      <li><a href='#'>Request a Demo</a></li>
                      <li class="menu-btn"><a href='#'>Post a Job</a></li>
                  </ul>
              </nav>
          </div>
      </div>
  </header>
