<section class="banner">
  <div class="container">
    <h2>Welcome to Taizo</h2>
    <img src="assets/images/register-icon.svg" alt="">
    <h1>Registration</h1>
  </div>
</section>
<section class="registration-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xss-12">
        <h3>Are you a?</h3>
        <div class="form-container">
          <div class="tab-menu nav" id="nav-tab" role="tablist">
            <a class="nav-item active" id="nav-home-tab" data-toggle="tab" href="#nav-company" role="tab" aria-controls="nav-company" aria-selected="true">
              <svg xmlns="http://www.w3.org/2000/svg" width="23.337" height="25.975" viewBox="0 0 23.337 25.975">
                <g id="prefix__company_1_" data-name="company (1)">
                  <path id="prefix__Path_11195"
                    d="M48.83 6.088h-9.64V.507A.507.507 0 0 0 38.683 0H26.507A.507.507 0 0 0 26 .507v24.96a.507.507 0 0 0 .507.507H48.83a.507.507 0 0 0 .507-.507V6.6a.507.507 0 0 0-.507-.512zM39.19 7.1h9.132v12.787H39.19zm-8.117 17.86V20.9h3.044v4.06zm3.551-5.073h-4.058a.507.507 0 0 0-.507.507v4.566h-3.044V1.015h11.161V24.96h-3.044v-4.566a.507.507 0 0 0-.508-.507zm4.566 5.073V20.9h9.132v4.06z"
                    class="prefix__cls-1" data-name="Path 11195" transform="translate(-26)" />
                  <path id="prefix__Path_11196" d="M136.506 42.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11196"
                    transform="translate(-130.418 -37.972)" />
                  <path id="prefix__Path_11197" d="M136.506 112.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11197"
                    transform="translate(-130.418 -104.42)" />
                  <path id="prefix__Path_11198" d="M136.506 182.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11198"
                    transform="translate(-130.418 -170.869)" />
                  <path id="prefix__Path_11199" d="M136.506 252.029h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11199"
                    transform="translate(-130.418 -237.317)" />
                  <path id="prefix__Path_11200" d="M136.506 322.029h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11200"
                    transform="translate(-130.418 -303.766)" />
                  <path id="prefix__Path_11201" d="M66.508 42.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.506-.508h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.508z" class="prefix__cls-1" data-name="Path 11201"
                    transform="translate(-63.972 -37.972)" />
                  <path id="prefix__Path_11202" d="M66.508 112.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11202"
                    transform="translate(-63.972 -104.42)" />
                  <path id="prefix__Path_11203" d="M66.508 182.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11203"
                    transform="translate(-63.972 -170.869)" />
                  <path id="prefix__Path_11204" d="M66.508 252.029h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11204"
                    transform="translate(-63.972 -237.317)" />
                  <path id="prefix__Path_11205" d="M66.508 322.029h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11205"
                    transform="translate(-63.972 -303.766)" />
                  <path id="prefix__Path_11206" d="M207.523 40h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.014a.507.507 0 0 0 .507-.507v-1.014a.507.507 0 0 0-.507-.508z" class="prefix__cls-1" data-name="Path 11206"
                    transform="translate(-196.869 -37.972)" />
                  <path id="prefix__Path_11207" d="M207.523 110h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11207"
                    transform="translate(-196.869 -104.419)" />
                  <path id="prefix__Path_11208" d="M207.523 180h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11208"
                    transform="translate(-196.869 -170.868)" />
                  <path id="prefix__Path_11209" d="M207.523 250h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11209"
                    transform="translate(-196.869 -237.317)" />
                  <path id="prefix__Path_11210" d="M207.523 320h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11210"
                    transform="translate(-196.869 -303.766)" />
                  <path id="prefix__Path_11211" d="M392.522 180h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11211"
                    transform="translate(-372.483 -170.868)" />
                  <path id="prefix__Path_11212" d="M392.522 250h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11212"
                    transform="translate(-372.483 -237.317)" />
                  <path id="prefix__Path_11213" d="M392.522 320h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11213"
                    transform="translate(-372.483 -303.766)" />
                  <path id="prefix__Path_11214" d="M322.524 180h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11214"
                    transform="translate(-306.036 -170.868)" />
                  <path id="prefix__Path_11215" d="M322.524 250h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11215"
                    transform="translate(-306.036 -237.317)" />
                  <path id="prefix__Path_11216" d="M322.524 320h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11216"
                    transform="translate(-306.036 -303.766)" />
                </g>
              </svg>
              Company</a>
            <a class="nav-item" id="nav-consultant-tab" data-toggle="tab" href="#nav-consultant" role="tab" aria-controls="nav-consultant" aria-selected="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="23.337" height="25.975" viewBox="0 0 23.337 25.975">
                <g id="prefix__company_1_" data-name="company (1)">
                  <path id="prefix__Path_11195"
                    d="M48.83 6.088h-9.64V.507A.507.507 0 0 0 38.683 0H26.507A.507.507 0 0 0 26 .507v24.96a.507.507 0 0 0 .507.507H48.83a.507.507 0 0 0 .507-.507V6.6a.507.507 0 0 0-.507-.512zM39.19 7.1h9.132v12.787H39.19zm-8.117 17.86V20.9h3.044v4.06zm3.551-5.073h-4.058a.507.507 0 0 0-.507.507v4.566h-3.044V1.015h11.161V24.96h-3.044v-4.566a.507.507 0 0 0-.508-.507zm4.566 5.073V20.9h9.132v4.06z"
                    class="prefix__cls-1" data-name="Path 11195" transform="translate(-26)" />
                  <path id="prefix__Path_11196" d="M136.506 42.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11196"
                    transform="translate(-130.418 -37.972)" />
                  <path id="prefix__Path_11197" d="M136.506 112.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11197"
                    transform="translate(-130.418 -104.42)" />
                  <path id="prefix__Path_11198" d="M136.506 182.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11198"
                    transform="translate(-130.418 -170.869)" />
                  <path id="prefix__Path_11199" d="M136.506 252.029h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11199"
                    transform="translate(-130.418 -237.317)" />
                  <path id="prefix__Path_11200" d="M136.506 322.029h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11200"
                    transform="translate(-130.418 -303.766)" />
                  <path id="prefix__Path_11201" d="M66.508 42.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.506-.508h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.508z" class="prefix__cls-1" data-name="Path 11201"
                    transform="translate(-63.972 -37.972)" />
                  <path id="prefix__Path_11202" d="M66.508 112.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11202"
                    transform="translate(-63.972 -104.42)" />
                  <path id="prefix__Path_11203" d="M66.508 182.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11203"
                    transform="translate(-63.972 -170.869)" />
                  <path id="prefix__Path_11204" d="M66.508 252.029h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11204"
                    transform="translate(-63.972 -237.317)" />
                  <path id="prefix__Path_11205" d="M66.508 322.029h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11205"
                    transform="translate(-63.972 -303.766)" />
                  <path id="prefix__Path_11206" d="M207.523 40h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.014a.507.507 0 0 0 .507-.507v-1.014a.507.507 0 0 0-.507-.508z" class="prefix__cls-1" data-name="Path 11206"
                    transform="translate(-196.869 -37.972)" />
                  <path id="prefix__Path_11207" d="M207.523 110h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11207"
                    transform="translate(-196.869 -104.419)" />
                  <path id="prefix__Path_11208" d="M207.523 180h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11208"
                    transform="translate(-196.869 -170.868)" />
                  <path id="prefix__Path_11209" d="M207.523 250h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11209"
                    transform="translate(-196.869 -237.317)" />
                  <path id="prefix__Path_11210" d="M207.523 320h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11210"
                    transform="translate(-196.869 -303.766)" />
                  <path id="prefix__Path_11211" d="M392.522 180h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11211"
                    transform="translate(-372.483 -170.868)" />
                  <path id="prefix__Path_11212" d="M392.522 250h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11212"
                    transform="translate(-372.483 -237.317)" />
                  <path id="prefix__Path_11213" d="M392.522 320h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11213"
                    transform="translate(-372.483 -303.766)" />
                  <path id="prefix__Path_11214" d="M322.524 180h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11214"
                    transform="translate(-306.036 -170.868)" />
                  <path id="prefix__Path_11215" d="M322.524 250h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11215"
                    transform="translate(-306.036 -237.317)" />
                  <path id="prefix__Path_11216" d="M322.524 320h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11216"
                    transform="translate(-306.036 -303.766)" />
                </g>
              </svg>
              Consultant</a>
            <a class="nav-item" id="nav-individual-tab" data-toggle="tab" href="#nav-individual" role="tab" aria-controls="nav-individual" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="23.337" height="25.975"
                viewBox="0 0 23.337 25.975">
                <g id="prefix__company_1_" data-name="company (1)">
                  <path id="prefix__Path_11195"
                    d="M48.83 6.088h-9.64V.507A.507.507 0 0 0 38.683 0H26.507A.507.507 0 0 0 26 .507v24.96a.507.507 0 0 0 .507.507H48.83a.507.507 0 0 0 .507-.507V6.6a.507.507 0 0 0-.507-.512zM39.19 7.1h9.132v12.787H39.19zm-8.117 17.86V20.9h3.044v4.06zm3.551-5.073h-4.058a.507.507 0 0 0-.507.507v4.566h-3.044V1.015h11.161V24.96h-3.044v-4.566a.507.507 0 0 0-.508-.507zm4.566 5.073V20.9h9.132v4.06z"
                    class="prefix__cls-1" data-name="Path 11195" transform="translate(-26)" />
                  <path id="prefix__Path_11196" d="M136.506 42.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11196"
                    transform="translate(-130.418 -37.972)" />
                  <path id="prefix__Path_11197" d="M136.506 112.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11197"
                    transform="translate(-130.418 -104.42)" />
                  <path id="prefix__Path_11198" d="M136.506 182.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11198"
                    transform="translate(-130.418 -170.869)" />
                  <path id="prefix__Path_11199" d="M136.506 252.029h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11199"
                    transform="translate(-130.418 -237.317)" />
                  <path id="prefix__Path_11200" d="M136.506 322.029h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11200"
                    transform="translate(-130.418 -303.766)" />
                  <path id="prefix__Path_11201" d="M66.508 42.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.506-.508h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.508z" class="prefix__cls-1" data-name="Path 11201"
                    transform="translate(-63.972 -37.972)" />
                  <path id="prefix__Path_11202" d="M66.508 112.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11202"
                    transform="translate(-63.972 -104.42)" />
                  <path id="prefix__Path_11203" d="M66.508 182.03h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11203"
                    transform="translate(-63.972 -170.869)" />
                  <path id="prefix__Path_11204" d="M66.508 252.029h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11204"
                    transform="translate(-63.972 -237.317)" />
                  <path id="prefix__Path_11205" d="M66.508 322.029h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507z" class="prefix__cls-1" data-name="Path 11205"
                    transform="translate(-63.972 -303.766)" />
                  <path id="prefix__Path_11206" d="M207.523 40h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.014a.507.507 0 0 0 .507-.507v-1.014a.507.507 0 0 0-.507-.508z" class="prefix__cls-1" data-name="Path 11206"
                    transform="translate(-196.869 -37.972)" />
                  <path id="prefix__Path_11207" d="M207.523 110h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11207"
                    transform="translate(-196.869 -104.419)" />
                  <path id="prefix__Path_11208" d="M207.523 180h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11208"
                    transform="translate(-196.869 -170.868)" />
                  <path id="prefix__Path_11209" d="M207.523 250h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11209"
                    transform="translate(-196.869 -237.317)" />
                  <path id="prefix__Path_11210" d="M207.523 320h-1.014a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.014a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11210"
                    transform="translate(-196.869 -303.766)" />
                  <path id="prefix__Path_11211" d="M392.522 180h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11211"
                    transform="translate(-372.483 -170.868)" />
                  <path id="prefix__Path_11212" d="M392.522 250h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11212"
                    transform="translate(-372.483 -237.317)" />
                  <path id="prefix__Path_11213" d="M392.522 320h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11213"
                    transform="translate(-372.483 -303.766)" />
                  <path id="prefix__Path_11214" d="M322.524 180h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11214"
                    transform="translate(-306.036 -170.868)" />
                  <path id="prefix__Path_11215" d="M322.524 250h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11215"
                    transform="translate(-306.036 -237.317)" />
                  <path id="prefix__Path_11216" d="M322.524 320h-1.015a.507.507 0 0 0-.507.507v1.015a.507.507 0 0 0 .507.507h1.015a.507.507 0 0 0 .507-.507v-1.015a.507.507 0 0 0-.507-.507z" class="prefix__cls-1" data-name="Path 11216"
                    transform="translate(-306.036 -303.766)" />
                </g>
              </svg>
              Individual</a>
          </div>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-company" role="tabpanel" aria-labelledby="nav-company-tab">
              <div class="row">
                <form [formGroup]="individualRegisterForm">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <!-- <div class="select"> -->
                      <ng-select2 [data]="exampleData" formControlName="industry"></ng-select2>
                      <!-- </div> -->
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" formControlName="companyname" class="form-control" placeholder="Company Name"> 
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <input type="text" formControlName="contactname" class="form-control" placeholder="Contact Person's Name">
                    </div>
                    <div class="form-group col-md-6">
                      <input type="email" formControlName="contactemail" class="form-control" placeholder="Email"> 
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <input class="form-control" type="text" formControlName="contactmobile" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in'}" (hasError)="hasError($event)" (ng2TelOutput)="getNumber($event)" (intlTelInputObject)="telInputObject($event)"
                        (countryChange)="onCountryChange($event)">
                      <!-- <label class="form-control-placeholder">Contact Person's Name</label> -->
                    </div>
                    <div class="form-group col-md-6">
                      <input type="email" formControlName="contactpincode" class="form-control" placeholder="Pincode"> 
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" placeholder="Company Website URL
                      (Optional)"> 
                    </div>
                    <div class="form-group col-md-6">
                      <input type="email" class="form-control" placeholder="Linked In Profile URL
                      (Optional)"> 
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <div class="select">
                        <select class="form-control">
                          <option>How did you hear about us?</option>
                          <option>From Facebook</option>
                          <option>From Google</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                      <label for="styled-checkbox-1">I agreet to taizo's <a href="#">Terms of
                          Service</a> and <a href="#">Privacy Policy</a></label>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-12 d-flex  justify-content-center">
                      <button type="submit" (click)="onSubmit()" class="btn primary-button">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-consultant" role="tabpanel" aria-labelledby="nav-consultant-tab">
              <div class="row">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <div class="select">
                        <select class="form-control">
                          <option>Select Industry</option>
                          <option>Industry One</option>
                          <option>Industry Two</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" placeholder="Company Name"> 
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" placeholder="Contact Person's Name"> 
                    </div>
                    <div class="form-group col-md-6">
                      <input type="email" class="form-control" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <div class="form-row mobile-number-row">
                        <div class="country">
                          <div id="country" class="select">Code</div>
                          <div id="country-drop" class="dropdown">
                            <ul>
                              <li data-code="IN" data-name="India" data-cid="c32">
                                <img src="images/india-flag.png" alt="">(+91)</li>
                              <li data-code="IN" data-name="India" data-cid="c32">
                                <img src="images/india-flag.png" alt="">(+92)</li>
                              <li data-code="IN" data-name="India" data-cid="c32">
                                <img src="images/india-flag.png" alt="">(+93)</li>
                            </ul>
                          </div>
                        </div>
                        <div class="mobile-number">
                          <input type="text" class="form-control" placeholder="Mobile No /
                          Landline"> 
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="email" class="form-control" placeholder="Pincode"> 
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" placeholder="Company Website URL
                      (Optional)"> 
                    </div>
                    <div class="form-group col-md-6">
                      <input type="email" class="form-control" placeholder="Linked In Profile URL
                      (Optional)"> 
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <div class="select">
                        <select class="form-control">
                          <option>How did you hear about us?</option>
                          <option>From Facebook</option>
                          <option>From Google</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                      <label for="styled-checkbox-1">I agreet to taizo's <a href="#">Terms of
                          Service</a> and <a href="#">Privacy Policy</a></label>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-12 d-flex  justify-content-center">
                      <button type="submit" class="btn primary-button">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-individual" role="tabpanel" aria-labelledby="nav-individual-tab">
              <div class="row">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <div class="select">
                        <select class="form-control">
                          <option>Select Industry</option>
                          <option>Industry One</option>
                          <option>Industry Two</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" placeholder="Company Name"> 
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" placeholder="Contact Person's Name"> 
                    </div>
                    <div class="form-group col-md-6">
                      <input type="email" class="form-control" placeholder="Email"> 
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <div class="form-row mobile-number-row">
                        <div class="country">
                          <div id="country" class="select">Code</div>
                          <div id="country-drop" class="dropdown">
                            <ul>
                              <li data-code="IN" data-name="India" data-cid="c32">
                                <img src="images/india-flag.png" alt="">(+91)</li>
                              <li data-code="IN" data-name="India" data-cid="c32">
                                <img src="images/india-flag.png" alt="">(+92)</li>
                              <li data-code="IN" data-name="India" data-cid="c32">
                                <img src="images/india-flag.png" alt="">(+93)</li>
                            </ul>
                          </div>
                        </div>
                        <div class="mobile-number">
                          <input type="text" class="form-control" placeholder="Mobile No /
                          Landline"> 
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="email" class="form-control" placeholder="Pincode"> 
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" placeholder="Company Website URL
                      (Optional)"> 
                    </div>
                    <div class="form-group col-md-6">
                      <input type="email" class="form-control" placeholder="Linked In Profile URL
                      (Optional)"> 
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <div class="select">
                        <select class="form-control">
                          <option>How did you hear about us?</option>
                          <option>From Facebook</option>
                          <option>From Google</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                      <label for="styled-checkbox-1">I agreet to taizo's <a href="#">Terms of
                          Service</a> and <a href="#">Privacy Policy</a></label>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-12 d-flex  justify-content-center">
                      <button type="submit" class="btn primary-button">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
